.tablaOcupados{
    table-layout: fixed;
    width: 100%;
    border: 3px solid gray;
    border-radius: 1px;
    border-collapse: collapse;
}
.fila{
    border:1px solid gray;
}
td{
    border:1px solid gray;
}